@import url(https://fonts.bunny.net/css?family=alef:400);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    width:70%;
    margin:auto;
}

/* LEFT SIDE */
.sidebar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width:40%;
    background-image: url("sparrow.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
}

.heading {
    background-color: rgba(29, 29, 29, 0.478) ;
    width:100%;
    text-align: center;
    font-family: "Alef",Arial, Helvetica, sans-serif;
    color:rgb(238, 238, 238);
    padding:30px 0;
    margin-top:40%;
}

h1 {
    font-size: calc(1.5rem + 2vw);
    text-shadow: 2px 2px #5f4f4c83;
}

.sidebar > p {
    position:fixed;
    bottom:10px;
    color:rgb(238, 238, 238);
    font-size: 0.8rem;
}

.sidebar a {
    color:rgb(238, 238, 238)
}


/* RIGTH SIDE */
.wrapper {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    width:60%;
    height:100vh;
    background-color: rgb(227, 227, 227);
}

.description {
    padding: calc(15% + 2vh) 20% 40px 5%;
    font-size: calc(0.2rem + 1vw);
}

.userInfo {
    background-color: rgb(240, 240, 240);
    padding: 2vh 20% 2vh 5%;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.307);
}

.userInfo p {
    font-size: 0.8rem;
}

.userInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

fieldset {
    border:none;
}

legend {
    font-weight: bold;
    font-family: "Alef", Arial, Helvetica, sans-serif;
    font-size: calc(0.4rem + 1vw);
}

label {
    display:flex;
    flex-direction: column;
    font-size: calc(0.2rem + 0.5vw);
    font-weight: bold;
    margin:10px 0;
    letter-spacing: 0.3ch;
    width:40%;
}

input {
    font-size: calc(0.2rem + 1vw);
    padding:5px;
    border-radius: 5px;
    border:1px solid rgb(207, 207, 207);
    margin-top: 3px;
    /* width:60%; */
}

.submitInfo {
    padding: 3vh 20% 2vh 5%;
}

button {
    background-color:#c2a19a ;
    padding:10px 30px;
    font-size: calc(0.2rem + 1vw);
    font-weight: bold;
    color:rgb(238, 238, 238);
    border:none;
    border-radius: 10px;
    margin-bottom: 3vh;
    box-shadow: 3px 3px #5f4f4c83;
    transition: 0.2s;
}

.submitInfo > p{
    font-size: calc(0.1rem + 1vw);
}

.submitInfo a {
    color:#a28781
}

/* FORM ACTIONS */
input:active {
    border:1px solid blue;
}

input:invalid {
    border:1px solid red;
}

button:hover {
    background-color: #a28781;
    transform:scale(1.05)
}

button:active {
    transform: translateY(4px)
}